@model CampusBets.Models.Events

@{
    ViewBag.Title = "EventListare";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //primeste ca parametru lista de evenimente si o ataseaza.
}

<h2>EventList</h2>

